<% return if person.nil? %>


<div class="person_details">
  <p>
    <%= person.name %>
    <% if person.address.present? %>
      <br /><%= person.address %>
    <% end %>
    <% if person.location.present? %>
      <br /><%= "#{person.postal_code} #{person.location}" %>
    <% end %>
  </p><p>
    Tel.: <%= person.phone %>
    <% if person.phone2.present? %>
      <br />Tel2: <%= person.phone2 %>
    <% end %>
  </p><p>
    Mail: <%= mail_to( "#{person.name} <#{person.email}>", person.email, subject: t('mail.subject'),
                       # encode: "hex", replace_at: "æ", replace_dot: "·"
          ) %>
  </p>
</div>
