<% content_for :title, @title = t('help.contact.title') %>

<%= render( :partial => 'list_people' , 
 :locals => { :title => t('help.contact.badiAdmins'),  :people => @badi_admins  } ) %>

<%= render( :partial => 'list_people' , 
 :locals => { :title => t('help.contact.kioskAdmins'), :people => @kiosk_admins } ) %>

<%= render( :partial => 'list_people' , 
 :locals => { :title => t('help.contact.webmasters'),  :people => @webmasters   } ) %>

<h2><%=t 'help.contact.location' %></h2>
<div>
  <%=t 'phone_short' %>: 031 767 81 41
</div>
