<% @dd.begin_times(saison, side).each do |time| %>
    <span class="time_begin" style="top: <%= @dd.toptops(saison, side)[time]-1 %>px; left: <%= @dd.h_offset_times[side] %>px;">
		<%= time.strftime( "%H:%M" )%>
	</span>
<% end %>

<% @dd.end_times(saison, side).each do |time|  %>
	<span class="time_end" style="top: <%= @dd.endtops(saison, side)[time] %>px; left: <%= @dd.h_offset_times[side] %>px;">
		<%= time.strftime( "%H:%M" )%>
	</span>
<% end %>
