<% @dd.times(saison, side).each do |begin_time, begin_top, end_time, end_top| %>
  <span class="time_begin" 
        style="top: <%= begin_top %>px; left: <%= @dd.h_offset_times[side] %>px;">
		<%= begin_time.strftime( "%H:%M" )%>
	</span>
	<span class="time_end"
        style="top: <%= end_top %>px; left: <%= @dd.h_offset_times[side] %>px;">
		<%= end_time.strftime( "%H:%M" )%>
	</span>
<% end %>
