<span id="week_plan">
  <span style="<%= @dd.style_for_wnum %>"> <%= @week.number.to_s if @printout %> </span>

  <h2 style="margin-bottom: 5px;">
    <%=t( 'weeks.week_plan.caption',
          begin_date: h(@days.first.date_str "%d.%m."),
          end_date: h(@days.last.date_str "%d.%m.%Y"))%>
  </h2>

  <%= if saison.name.eql? "badi"; render( partial: 'week_plan_responsability', locals: {saison: saison} ); end %>

  <% @days.each do |day| %>
    <% unless content_for?("day_header_#{day.date.wday}") %>
    <% content_for "day_header_#{day.date.wday}" do %>
      <span style="float: left;  padding-left:  5px; font-size:   1.6em;"><%= @dd.day_name(day.date.wday) %></span>
      <span style="float: right; padding-right: 5px; padding-top: 0.5em;"><%= day.date_str('%d.%m.') %></span>
    <% end %>
    <% end %>
  <% end %>

  <div style="<%= @dd.style_for_day( @week, saison ) %>">
    <%= render( partial: 'week_plan_times', locals: { saison: saison, side: :left } )%>
    <%= render( partial: 'week_plan_day',   locals: { saison: saison }, collection: @days, as: :day )%>
    <%= render( partial: 'week_plan_times', locals: { saison: saison, side: :right } )%>
  </div>

  <% if @printout %>
  <div><p><%=t 'weeks.week_plan.badi_tel' %></p></div>
  <% end %>
</span>
