<%=t 'weeks.responsability' %>:

<% if @week.person.nil? %>
  <% if current_person.my_saisons.include?(saison) and @week.enabled?(saison) %>
    <%= link_to( t('weeks.sign_up'), edit_week_path(@week) ) %>
  <% else %>
    vakant
  <% end unless @printout %>
<% else %>
    <span style="font-size: larger;"><%=h @week.person.name %></span>
  <% if @printout %>
    <br /><%= t('phone_short') %>: <%= phone_str(@week.person) %>
  <% end %>
<% end %>
