<span class="week_plan_shift" style="<%= @dd.style_for_shift(shift) %>">

  <span>
    <% if shift.free? %>
      <% unless @printout %>

        <% if current_person.is_admin_for?(saison) %>
          <%= cell_link_to( t('shifts.sign_up'), day_path(shift.day) ) %>
        <% elsif current_person.is_staff_for?(saison) and shift.can_staff_sign_up? %>
          <%= cell_link_to( t('shifts.sign_up'), edit_shift_path(shift) ) %>
        <% else %>
          <p class="inscribed_person vacancy noprint">vakant</p>
        <% end %>

      <% end %>
    <% else %>
      <p class="inscribed_person">
        <span class="person_name"><%= shift.person.name %></span><br />
        <span class="person_phone_numbers"><%= phone_str(shift.person, delimiter: '<br />') %></span>
      </p>
    <% end %>
  </span>

  <%= content_tag(:div, 'B', class: 'has-brevet') if shift.person && shift.person.brevet? %>

</span>
