<% cache( :fragment   => "#{week.key_for_cache}_row_#{current_person.roles_key_for_cache}" ) do %>

  <tr id="<%= week_html_id(week) %>">
    <th style="padding-right: 1em;">
      <em class="week_number"><%= link_to( week.number, week, :title => t('weeks.show.title') )%></em>
      <% for saison in current_person.is_admin_for_what %>
        <br /><%= week.enabled?(saison) ?
                    link_to('Deaktivieren', week_disable_path(week, saison.name), :style => "color: #{saison.color}" ) :
                    link_to(  'Aktivieren', week_enable_path(week, saison.name), :style => "color: #{saison.color}" )  %>
      <% end %>
    </th>

    <%= render( :partial => 'weeks_table_cell', :collection => week.weekdays, :as => :day ) %>

    <% if !!week.person %>
      <td>
        <%=h week.person.name %><br />
        <%=h week.person.phone %><br />
        <%= link_to( t('Edit'), edit_week_path(week) ) if current_person.is_admin_for? Saison.find_by_name('badi') %>
      </td>
    <% elsif current_person.is_admin_for? Saison.badi or (current_person.is_staff_for? Saison.badi and week.enabled?(Saison.badi)) %>
      <td> frei <br /><%= link_to( ' ' + t('weeks.sign_up') + ' ' , edit_week_path(week) ) %></td>
    <% else %>
      <td> vakant </td>
    <% end %>
  </tr>

<% end %>
