<% content_for :title, @title = t('weeks.title') %>


<%= error_messages_for :week %>

<%=t 'weeks.taken_numbers' %>: <%=h Week.find(:all).collect(&:number).sort.join(', ') %>

<% form_for(@week) do |f| %>
  <p>
    <b><%=t 'weeks.week_number_label' %></b><br />
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.submit t('Save') %>
  </p>
<% end %>