<% content_for :title, @title = t('sessions.login') %>

<p>
  <%=t 'sessions.infopage_reference.html' %>
</p>

<%= form_with url: login_path do |f| %>
  <p><label for="login"><%=t 'person.attributes.login' %></label><br />
  <%= f.text_field 'login' %></p>

  <p><label for="password"><%=t 'person.attributes.password' %></label><br />
  <%= f.password_field 'password' %></p>

  <%#Uncomment this if you want this functionality - don't forget localization!%>
  <%#*<p><label for="remember_me">Remember me:</label>%>
  <%#= f.check_box 'remember_me' % ></p>%>

  <p><%= submit_tag t('sessions.login'), id: 'do_login' %></p>
<% end %>

<%# TODO: Add password forgotten functionality (requires mailer). %>
