<% content_for :title, @title = t('sessions.login') %>

<p>
  Diese Internetseite dient der Organisation der ehrenamtlichen HelferInnen der Badi Fraubrunnen.<br />
  F&uuml;r Infos zur Badi besuchen Sie bitte <a href="http://www.fraubrunnen.ch/xml_1/internet/de/application/d8/f63.cfm">die Internetseite der Gemeinde Fraubrunnen</a>.
</p>

<%= form_tag session_path do %>
  <p><label for="login"><%=t 'person.attributes.login' %></label><br />
  <%= text_field_tag 'login' %></p>

  <p><label for="password"><%=t 'person.attributes.password' %></label><br />
  <%= password_field_tag 'password' %></p>

  <%#Uncomment this if you want this functionality - don't forget localization!%>
  <%#*<p><label for="remember_me">Remember me:</label>%>
  <%#= check_box_tag 'remember_me' % ></p>%>

  <p><%= submit_tag t('sessions.login'), id: 'do_login' %></p>
<% end %>

<%# TODO: Add password forgotten functionality (requires mailer). %>
