<% content_for :title, @title = t('people.index.title') %>
<% content_for :dynamic_links_for_admin do %>
  <%= navigation_link t('people.create.title'), new_person_path %>
<% end %>


<table id="people_list">
  <tr>
    <th><%=t 'person.attributes.name' %></th>
<% if current_person.has_role? 'admin' %>
  	<th>#<%=t 'assignments' %></th>
    <th><%=t 'person.attributes.preferences' %></th>
<% end %>
    <th><%=t 'person.attributes.phone' %></th>
    <th><%=t 'person.attributes.address' %></th>
  </tr>

<% for person in @people %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td>
      <%=h person.name %>
      <% if current_person.administrates? person %><br/>
        <span class="person_actions">
          <%= link_to t('Edit'), edit_person_path(person) %>
          <%= link_to t('Delete'), person, :confirm => t('people.destroy.confirm'), :method => :delete %>
        </span>
      <% elsif current_person == person %><br/>
        <span class="person_actions">
          <%= link_to t('Edit'), edit_person_path(person) %>
        </span>
      <% end %>
    </td>
<% if current_person.has_role? 'admin' %>
  <% if current_person.administrates? person %>
  	<td><%= person.shifts.size.to_s %>
  	<td><%=h person.preferences.to_s %>
  <% else %>
    <td></td><td></td>
  <% end %>
<% end %>
    <td><%= phone_str(person, :delimiter => '<br />') %></td>
    <td><%= render( :partial => 'address_link_if_complete', :locals => { :person => person }, :title => t('people.show_map') )%></td>
  </tr>
<% end %>
</table>
