<% content_for :title, @title = t('shifts.edit.title', shift: @shift.shiftinfo.description, times: @shift.shiftinfo.times_str, date: @day.date_str) %>
<% content_for :navigation_links do %>
  <%= navigation_link t('weeks.show.title'), @week %>
  <%= navigation_link t('days.show.title', date_str: @day.date_str), @day %>
<% end %>


<%= render( 'shared/error_messages', obj: @shift ) %>

<% if current_person.is_admin_for? @shift.saison %>
  <p><%=t 'shifts.edit.admin_advice' %></p>
<% else %>
  <%= form_for(@shift) do |f| %>
    <h2><%=t 'shifts.edit.general_advice' %></h2>
    <%= f.hidden_field :person_id, value: current_person.id %>
    <%= f.hidden_field :shiftinfo_id %>
    <p>
      <%= f.submit t'Save' %><br />
    </p>
  <% end %>
  <p><br /><em>
      <%= t('shifts.edit.warning', admin_names: @admin_names).html_safe %><br />
      <%= link_to( t('help.contact.title') , controller: 'help', action: 'contact' )%><br />
      <br />
      <%=t 'abort_with_backbutton' %>
  </em></p>
<% end %>
