<% content_for :title, @title = t('shifts.index.title') %>


<h2><%= t('shifts.index.summary', :total => @shifts.size, :enabled => @shifts.collect(&:enabled).size) %></h2>

<table>
  <tr>
    <th><%=t 'shift.attributes.day' %></th>
    <th><%=t 'shift.attributes.shiftinfo' %></th>
    <th><%=t 'shift.attributes.person' %></th>
  </tr>

  <%= render( :partial => "shift_tr", :collection => @shifts ) %>
</table>

