<% content_for :links do %><li><%= link_to l('weeks','show','title') , week_path(@week) %></li><% end %>
<% content_for :title, @title = lc('title', :date_str => @day.date_str) %>

<%= render( :partial => 'day_jumper', :object => @day )%>

<h3><%=h @day.date.strftime('%A') + " KW " + @week.number.to_s %></h3>

<% if current_person.is_badiAdmin? %>
	
  <% form_for(@day, :url => week_day_path(@week,@day)) do |f| %>
	  <table title="<%=l 'shifts', 'n' %>" cellpadding="15px">
	    <tr><th><%=l 'shifts','n' %>:</th><th><%=l 'shifts','responsible_person' %>:</th></tr>
		    <% for shift in @day.shifts %>
		      <tr valign="middle">
		      	<% fields_for "day[shift_attributes][]", shift do |g| %>
			        <td><%= g.select( :shiftinfo_id, @shiftinfos.collect {|si| [ "#{si.description}, #{si.times_str}" , si.id ] } ) %></td>
			        <td><%= g.select( :person_id, @people.collect {|p| [ p.name, p.id ] }, { :include_blank => true } ) %></td>
					  <% end %>
					</tr>
				<% end %>
		</table>
		<br /><%= submit_tag l('Save') %><br />
	<% end %>
	<br /><%= link_to('edit_shiftinfos'.lc, shiftinfos_path) %>
		
<% else %>
    
  <table title="<%=l 'shifts','n' %>" cellpadding="15px">
    <tr><th><%=l 'shifts','n' %>:</th><th><%=l 'shifts','responsible_person' %>:</th></tr>
    <%= render( :partial => 'shift_tr', :collection => @day.shifts )%>
  </table>
		
<% end %>
