<% content_for :title, @title = t('shiftinfos.edit.title', description: full_descr(@shiftinfo)) %>
<% content_for :navigation_links do %>
  <%= navigation_link t('shiftinfos.index.title') , shiftinfos_path %>
<% end %>


<%= render( 'shared/error_messages', obj: @shiftinfo ) %>

<%= form_with model: @shiftinfo do |f| %>
  <p>
    <b><%=t 'shiftinfo.attributes.description' %></b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.begin' %></b><br />
    <%= f.text_field :begin, value: @shiftinfo.begin && I18n.l(@shiftinfo.begin, format: :time) %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.end' %></b><br />
    <%= f.text_field :end, value: @shiftinfo.end && I18n.l(@shiftinfo.end, format: :time) %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.offset' %></b><br />
    <%= f.text_field :offset, value: @shiftinfo.offset && I18n.l(@shiftinfo.offset, format: :time) %>
  </p>

  <% if current_person.is_admin_for_what.size > 1 %><p>
    <b><%=t 'shiftinfo.attributes.saison' %></b><br />
    <%= f.select( :saison_id, current_person.is_admin_for_what.sort.collect { |saison|
          [ t("saisons.#{saison.name}"), saison.id ]
        } ) %>
  </p><% end %>

  <p>
    <%= f.submit t'Save' %>
  </p>
<% end %>
