<% content_for :title, @title = t('shiftinfos.edit.title',:description => full_descr(@shiftinfo)) %>
<% content_for :navigation_links do %>
  <%= navigation_link t('shiftinfos.index.title') , shiftinfos_path %>
<% end %>


<%= error_messages_for :shiftinfo %>

<% form_for(@shiftinfo) do |f| %>
  <p>
    <b><%=t 'shiftinfos.description_label' %></b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.begin' %></b><br />
    <%= f.text_field :begin %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.end' %></b><br />
    <%= f.text_field :end %>
  </p>

  <% if current_person.is_admin_for_what.size > 1 %><p>
    <b><%=t 'shiftinfo.attributes.saison' %></b><br />
    <%= f.select( :saison_id, current_person.is_admin_for_what.sort.collect { |saison|
          [ t("saisons.#{saison.name}"), saison.id ]
        } ) %>
  </p><% end %>

  <p>
    <%= f.submit t'Save' %>
  </p>
<% end %>
