<% content_for :title, @title = t('shiftinfos.index.title') %>
<% content_for :dynamic_links_for_admin do %>
  <%= navigation_link t('shiftinfos.new.title'), new_shiftinfo_path %>
<% end %>


<% for saison in Saison.all %>
  <h2><%=t "saisons.#{saison.name}" %></h2>
  <% if saison.shiftinfos.any? %>
    <table>
      <tr>
        <th><%=t 'shiftinfo.attributes.description' %></th>
        <th><%=t 'shiftinfos.index.time_span' %></th>
      </tr>
      <% for shiftinfo in @shiftinfos[saison.name] %>
        <tr>
          <td><%=h shiftinfo.description %></td>
          <td><%=h shiftinfo.times_str %></td>
          <%= content_tag(:td, link_to( t('Edit'), edit_shiftinfo_path(shiftinfo) ) ) if current_person.is_admin_for? saison %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><%=t 'shiftinfos.index.none' %></p>
  <% end %>
<% end %>
