<% content_for :title, @title = t('shiftinfos.index.title') %>


<% for saison in Saison.all %>
  <h2><%=t "saisons.#{saison.name}" %></h2>
  <% if saison.shiftinfos.any? %>
    <table>
      <tr>
        <th><%=t 'shiftinfo.attributes.description' %></th>
        <th><%=t 'shiftinfos.index.time_span' %></th>
      </tr>
      <% for shiftinfo in @shiftinfos[saison.name] %>
        <tr>
          <td><%= shiftinfo.description %></td>
          <td><%= shiftinfo.times_str %></td>
          <%= tag.td(link_to( t('Edit'), edit_shiftinfo_path(shiftinfo) ) ) if current_person.is_admin_for? saison %>
        </tr>
      <% end %>
      <% if current_person.is_admin_for? saison %>
      <tr>
        <td colspan="3"><%= link_to(t('shiftinfos.new.title'), new_shiftinfo_path) %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p><%=t 'shiftinfos.index.none' %></p>
  <% end %>
<% end %>
