<% content_for :title, @title = t('shiftinfos.new.title') %>
<% content_for :navigation_links do %>
  <%= navigation_link t('shiftinfos.index.title') , shiftinfos_path %>
<% end %>


<%= render( 'shared/error_messages', obj: @shiftinfo ) %>

<%= form_for(@shiftinfo) do |f| %>
  <p>
    <b><%=t 'shiftinfo.attributes.description' %></b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.begin' %></b><br />
    <%= f.text_field :begin %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.end' %></b><br />
    <%= f.text_field :end %>
  </p>

  <p>
    <b><%=t 'shiftinfo.attributes.saison' %></b><br />
    <% if current_person.is_admin_for_what.size > 1 %>
      <%= f.select( :saison_id, current_person.is_admin_for_what.sort.collect { |saison|
          [ t("saisons.#{saison.name}"), saison.id ]
        } ) %>
    <% else %>
      <%= t("saisons.#{current_person.is_admin_for_what.first.name}") %>
    <% end %>
  </p>

  <p>
    <%= f.submit t'Save' %>
  </p>
<% end %>
