<% content_for :title, @title = t('shiftinfos.title', :description => full_descr(@shiftinfo)) %>
<% content_for :admin_links do %>
	<li><%= link_to t('shiftinfos.edit.title') , edit_shiftinfo_path(@shiftinfo) %></li>
	<li><%= link_to t('shiftinfos.new.title') , new_shiftinfo_path %></li>
	<li><%= link_to t('shiftinfos.index.title') , shiftinfos_path %></li>
<% end %>


<p>
  <b><%=t 'shiftinfo.description' %>:</b>
  <%=h @shiftinfo.description %>
</p>

<p>
  <b><%=t 'shiftinfo.begin' %>:</b>
  <%=h @shiftinfo.begin.strftime( '%H:%M' ) %>
</p>

<p>
  <b><%=t 'shiftinfo.end' %>:</b>
  <%=h @shiftinfo.end.strftime( '%H:%M' ) %>
</p>
