<% content_for :title, @title = t('shiftinfos.show.title', :description => full_descr(@shiftinfo)) %>
<% content_for :dynamic_links_for_admin do %>
	<%= navigation_link t('shiftinfos.edit.title') , edit_shiftinfo_path(@shiftinfo) %>
	<%= navigation_link t('shiftinfos.new.title') , new_shiftinfo_path %>
	<%= navigation_link t('shiftinfos.index.title') , shiftinfos_path %>
<% end %>


<p>
  <b><%=t 'shiftinfo.description' %>:</b>
  <%= @shiftinfo.description %>
</p>

<p>
  <b><%=t 'shiftinfo.begin' %>:</b>
  <%= @shiftinfo.begin.strftime( '%H:%M' ) %>
</p>

<p>
  <b><%=t 'shiftinfo.end' %>:</b>
  <%= @shiftinfo.end.strftime( '%H:%M' ) %>
</p>
