<div id="main">

  <% if content_for? :additional_formats %>
  <div id="links_to_additional_formats" style="float: right;">
    <% for format in content_for(:additional_formats).split(',') do %>
      <%= link_to image_tag(format, alt: format.upcase), params.merge(format: format) %>
    <% end %>
  </div>
  <% end %>

  <% if content_for? :title %>
  <h1 id="page_title"><%= content_for(:title) %></h1>
  <% end %>

	<% flash.each do |level, message| %>
	  <%= content_tag(:div, message, :class => "flash", :id => "flash_#{level}") -%>	
	<% end %>
	
	<div id="main_content"><%= yield %></div>

  <%= render( :partial => 'layouts/bottom_navi' ) -%>
</div>
