<div id="side">

  <h3><%=t 'navigation' %></h3>
  <% if logged_in? %>
    <%= render :partial => 'layouts/member_navigation' %>
  <% else %>
    <ul>
      <%= navigation_link_unless_current( t('sessions.login'), login_path )%>
    </ul>
  <% end %>

  <h3><%=t 'help.title' %></h3>
  <ul>
    <%= navigation_link_unless_current( t('help.contact.title'), help_path )%>
  </ul>

  <h3><%=t 'external_links.title' %></h3>
  <ul>
    <li><a href="http://www.meteoschweiz.ch/cgi-bin/plz.cgi?language=de&plz=3312"><%=t 'external_links.meteo' %></a></li>
    <li><a href="http://www.fraubrunnen.ch/xml_1/internet/de/application/d8/f63.cfm"><%=t 'external_links.official' %></a></li>
    <li><a href="http://www.blacktanga.ch/oase/fraubrunnen.html"><%=t 'external_links.blacktanga' %></a></li>
  </ul>
</div>
