<div id="side" class="noprint">
  <% unless Rails.env == 'production' %>
    <p style="margin: 1em 0; font-size: large; color: white;"><%= Rails.env.upcase %></p>
  <% end %>

  <h3><%=t 'navigation' %></h3>
  <% if logged_in? %>
    <%= render partial: 'layouts/navigation_for_members' %>
  <% else %>
    <ul>
      <%= navigation_link_unless_current( t('sessions.login'), login_path )%>
    </ul>
  <% end %>

  <h3><%=t 'help.title' %></h3>
  <ul>
    <%= navigation_link_unless_current( t('help.contact.title'), help_path )%>
  </ul>

  <h3><%=t 'external_links.title' %></h3>
  <ul>
    <li><a href="http://www.meteoschweiz.admin.ch/web/de/wetter/detailprognose/lokalprognose.html?language=de&plz=3312"><%=t 'external_links.meteo' %></a></li>
    <li><a href="http://www.fraubrunnen.ch/de/kulturfreizeit/vereinsliste/?action=showverein&verein_id=31872"><%=t 'external_links.official' %></a></li>
    <li><a href="http://www.blacktanga.ch/oase/fraubrunnen.html"><%=t 'external_links.blacktanga' %></a></li>
  </ul>
</div>
