<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= "Badi2010 - " + (content_for?(:title) ? content_for(:title) : controller.action_name) %></title>
  <%= stylesheet_link_tag 'application', :media => :all %>
  <%# The javascript include tag is at the bottom of the page to improve user experienced load speed. %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container" style="position: relative;">
	<!-- these are composed using css -->
	<%= render( :partial => 'layouts/banner'  )%>
	<%= render( :partial => 'layouts/sidebar' )%>
	<%= render( :partial => 'layouts/main'    )%>
	<%= render( :partial => 'layouts/footer'  )%>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
